- name: Initialize deployment candidate
  block:
    - name: Delete stale candidate deployment if it exists
      ansible.builtin.file:
        path: "{{ APP_CANDIDATE_DEPLOYMENT_DIR }}"
        state: absent

    - name: Create candidate deployment directory
      ansible.builtin.file:
        path: "{{ APP_CANDIDATE_DEPLOYMENT_DIR }}"
        state: directory
        owner: "{{ APP_USERNAME }}"
        group: "{{ APP_USERNAME }}"
        mode: '0755'

{%- if APP_HAS_ARTIFACTS %}

    - name: Check whether active deployment has artifacts
      ansible.builtin.stat:
        path: "{{ APP_ACTIVE_DEPLOYMENT_DIR }}/artifacts"
      register: active_deployment_artifacts

    - name: Mirror artifacts from active deployment (to avoid retransferring them)
      ansible.builtin.command:
        argv:
          - cp
          - "-al"
          - "{{ APP_ACTIVE_DEPLOYMENT_DIR }}/artifacts"
          - "{{ APP_CANDIDATE_DEPLOYMENT_DIR }}/artifacts"
      when:
        - active_deployment_artifacts.stat.exists
        - active_deployment_artifacts.stat.isdir

    - name: Sync local artifacts to candidate deployment
      become_user: "{{ APP_USERNAME }}"
      ansible.posix.synchronize:
        src: "{{ LOCAL_ARTIFACTS_DIR }}/"
        dest: "{{ APP_CANDIDATE_DEPLOYMENT_DIR }}/artifacts"
        delete: true
        recursive: true
{% endif %}

{%- if APP_HAS_SYSTEMD_UNIT %}

    - name: Upload systemd unit to candidate deployment
      ansible.builtin.copy:
        src: "{{ LOCAL_SYSTEMD_UNIT_PATH }}"
        dest: "{{ APP_CANDIDATE_DEPLOYMENT_DIR }}/app.service.backup"
        owner: "{{ APP_USERNAME }}"
        group: "{{ APP_USERNAME }}"
        mode: '0644'
{%- endif %}

{%- if APP_HAS_CADDYFILE %}

    - name: Upload Caddyfile to candidate deployment
      ansible.builtin.copy:
        src: "{{ LOCAL_CADDYFILE_PATH }}"
        dest: "{{ APP_CANDIDATE_DEPLOYMENT_DIR }}/Caddyfile"
        owner: "{{ APP_USERNAME }}"
        group: "{{ APP_USERNAME }}"
        mode: '0644'
{%- endif %}

- name: Delete previous deployment
  ansible.builtin.file:
    path: "{{ APP_PREVIOUS_DEPLOYMENT_DIR }}"
    state: absent

- name: Promote deployment candidate to active deployment
  block:
    - name: Attempt deployment promotion
      become: true
      shell: |
        set -euo pipefail

        {% filter indent(8) %}
        {%- with src_dir=APP_CANDIDATE_DEPLOYMENT_DIR, downgraded_dir=APP_PREVIOUS_DEPLOYMENT_DIR %}
          {%- include "deploy-promote.sh.j2" %}
        {%- endwith -%}
        {% endfilter %}

  rescue:
    - name: Restore the previous deployment if possible
      become: true
      shell: |
        set -euo pipefail

        {% filter indent(8) %}
        {%- with src_dir=APP_PREVIOUS_DEPLOYMENT_DIR %}
          {%- include "deploy-promote.sh.j2" %}
        {%- endwith -%}
        {% endfilter %}

    - name: Fail the deployment
      ansible.builtin.fail:
        msg: "Deploying failed and was rolled back"
