{% include "playbook-header.yml.j2" -%}

{% if SKIP_SETUP is not defined or not SKIP_SETUP %}
{% filter indent(4, true) %}
{% include "setup-tasks.yml.j2" %}
{% endfilter %}
{% endif %}

{% filter indent(4, true) %}
{%- include "deploy-tasks.yml.j2" %}
{% endfilter %}
