- name: Sanity checks
  block:
    # Username is not taken
    - name: Check whether app user already exists
      ansible.builtin.getent:
        database: passwd
        key: "{{ APP_USERNAME }}"
        fail_key: false

    - name: Check whether existing user is managed by vanilla-deploy
      ansible.builtin.stat:
        path: "{{ VADE_SYSTEM_USER_FILE }}"
      register: vade_managed_user

    - name: Fail - the application's user conflicts with an existing user
      ansible.builtin.fail:
        msg: "Your application's name (`{{ APP_USERNAME }}`) conflicts with an existing user on the system. Please choose a different one and try again."
      when:
        - "ansible_facts.getent_passwd['{{ APP_USERNAME }}'] != None"
        - not vade_managed_user.stat.exists

    # Systemd file is not taken
    - name: Check whether systemd unit already exists
      ansible.builtin.stat:
        path: "{{ APP_SYSTEMD_UNIT_FILE }}"
      register: app_systemd_unit

    - name: Check whether systemd unit is tracked by vade
      ansible.builtin.stat:
        path: "{{ VADE_SYSTEMD_UNIT_FILE }}"
      register: vade_managed_unit

    - name: Fail - the application's name conflicts with an existing systemd service
      ansible.builtin.fail:
        msg: "Your application's name (`{{ APP_USERNAME }}`) conflicts with an existing systemd service on the system. Please choose a different one and try again."
      when:
        - app_systemd_unit.stat.exists
        - not vade_managed_unit.stat.exists

- name: Initialize application
  block:

    - name: Ensure vade user directory exists
      ansible.builtin.file:
        path: "{{ VADE_SYSTEM_USER_FILE | dirname }}"
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Ensure app user is tracked
      ansible.builtin.file:
        path: "{{ VADE_SYSTEM_USER_FILE }}"
        state: touch
        owner: root
        group: root
        mode: '0644'
        modification_time: preserve
        access_time: preserve

    - name: Ensure vade systemd unit directory exists
      ansible.builtin.file:
        path: "{{ VADE_SYSTEMD_UNIT_FILE | dirname }}"
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Ensure app unit file is tracked
      ansible.builtin.file:
        path: "{{ VADE_SYSTEMD_UNIT_FILE }}"
        state: touch
        owner: root
        group: root
        mode: '0644'
        modification_time: preserve
        access_time: preserve

    - name: Ensure app user exists
      ansible.builtin.user:
        name: "{{ APP_USERNAME }}"
        system: true
        create_home: false
        state: present

    - name: Ensure app directory exists
      ansible.builtin.file:
        path: "{{ APP_HOME_DIR }}"
        state: directory
        owner: "{{ APP_USERNAME }}"
        group: "{{ APP_USERNAME }}"
        mode: '0755'

    - name: Ensure storage directory exists
      ansible.builtin.file:
        path: "{{ APP_STORAGE_DIR }}"
        state: directory
        owner: "{{ APP_USERNAME }}"
        group: "{{ APP_USERNAME }}"
        mode: '0700'

    - name: Ensure secrets file exists
      ansible.builtin.file:
        path: "{{ APP_SECRETS_FILE }}"
        state: touch
        owner: root
        group: root
        mode: '0600'
        modification_time: preserve
        access_time: preserve

    - name: Ensure active deployment exists
      ansible.builtin.file:
        path: "{{ APP_ACTIVE_DEPLOYMENT_DIR }}"
        state: directory
        owner: "{{ APP_USERNAME }}"
        group: "{{ APP_USERNAME }}"
        mode: '0755'
