[Unit]
Description={{ vade.app.name }} (web application)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ vade.app.paths.active_artifacts }}/app-bin
WorkingDirectory={{ vade.app.paths.home }}/storage
Restart=on-failure
RestartSec=5s
User={{ vade.app.username }}
Group={{ vade.app.username }}
EnvironmentFile={{ vade.app.paths.home }}/secrets

# Restrict filesystem access
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ vade.app.paths.home }}/storage

# Additional hardening
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
