[Unit]
Description={{ APP_NAME }} (goatcounter deployment)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ APP_ACTIVE_ARTIFACTS_DIR }}/goatcounter serve -listen :8081
WorkingDirectory={{ APP_HOME_DIR }}/storage
Restart=on-failure
RestartSec=5s
User={{ APP_USERNAME }}
Group={{ APP_USERNAME }}

# Restrict filesystem access
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ APP_HOME_DIR }}/storage

# Additional hardening
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
