{% include "header.py.j2" %}

files.directory(
    name="Ensure vade scripts directory exists",
    path="{{ vade.internal.reserve_ports_script.remote | dirname }}",
    user="root",
    group="root",
    mode="755",
)

files.put(
    name="Install the port-reservation script",
    src="{{ vade.internal.reserve_ports_script.local }}",
    dest="{{ vade.internal.reserve_ports_script.remote }}",
    user="root",
    group="root",
    mode="755",
)
