[Unit]
Description={{ APP_NAME }} (web application)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ vars.exec_start }}
WorkingDirectory={{ APP_HOME_DIR }}/storage
Restart=on-failure
RestartSec=5s
User={{ APP_USERNAME }}
Group={{ APP_USERNAME }}
EnvironmentFile={{ APP_HOME_DIR }}/secrets
{%- if APP_PORTS is defined %}
Environment="PORT={{ APP_PORTS[0] }}"
Environment="PORTS={{ APP_PORTS | join(',') }}"
{%- endif %}
{%- if vars.extra_env_vars is defined %}
{%- for key in vars.extra_env_vars %}
Environment="{{ key }}={{ vars.extra_env_vars[key] }}"
{%- endfor %}
{%- endif %}

# Restrict filesystem access
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ APP_HOME_DIR }}/storage

# Additional hardening
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
