[Unit]
Description={{ APP_NAME }} (web application)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ vars.exec_start }}
WorkingDirectory={{ APP_HOME_DIR }}/storage
Restart=on-failure
RestartSec=5s
User={{ APP_USERNAME }}
Group={{ APP_USERNAME }}
EnvironmentFile={{ APP_HOME_DIR }}/secrets
{%- for env in extra_environments %}
Environment="{{ env }}"
{%- endfor %}

# Restrict filesystem access
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ APP_HOME_DIR }}/storage

# Additional hardening
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
